body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#1e293b;
}

.match{
background:#1e293b;
margin:10px;
padding:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
}

.live{
color:red;
font-weight:bold;
}
